In [2]:
import pandas as pd
pd.set_option('mode.chained_assignment',None)

In [6]:
data_repo_url = "https://github.com/data-analytics-in-business/gabor-firm-exit-case-study/raw/main/data/"
data_file = "sample_2012_ABT.csv"
df = pd.read_csv(data_repo_url+data_file)
df.head()

   log_sales  p+l_scaled  ind_cat  default
0   7.093159   -8.951987      3.0        0
1  13.943477    9.182272      2.0        0
2   7.932070   -7.758650      3.0        1
3  12.980031   11.479915      3.0        0
4  11.773208   -7.763383      3.0        0

In [7]:
X = df.drop(columns=['default'])
y = df['default']

In [10]:
X.dtypes

log_sales     float64
p+l_scaled    float64
ind_cat       float64
dtype: object